<div id="footer">
    <div class="flex-container">
        <div class="flex-element left">
            <h3>Pages</h3>
            <p>Home</p>
            <p>About</p>
            <p>Portfolio</p>
        </div>
        <div class="flex-element left">
            <h3>Contact Us</h3>
            <p>2772 Fake Adress Dr.</p>
            <p>1-800-EPSILON</p>
            <p>info@epsilon-development.org</p>
        </div>
        <div class="flex-element left">
            <h3>Connect</h3>
            <p>Linkedin</p>
            <p>Fiverr</p>
            <p>Youtube</p>
        </div>
    </div>
    <br>
    <p>© 2021 Epsilon Development</p>
</div>