<div id="navbar">
    <div id="nav-logo">
        <a href="/">ε</a>
    </div>
    <div class="nav-container">
        <div class="nav-element">
            <a href="/">Home</a>
        </div>
        <div class="nav-element">
            <a href="/about">About</a>
        </div>
        <div class="nav-element">
            <a href="/portfolio">Portfolio</a>
        </div>
        <div id="user-info" class="nav-element">
            <img class="nav-icon" src="/assets/user">
        </div>
        <div id="notifications" class="nav-element">
            <img id="notification-img" class="nav-icon" src="/assets/notification">
        </div>
    </div>
</div>